@model StudentPageMdl
@{
    var counter = 1; 
    //int deviceCounter = 0;
    var classCounter = 1;
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Student Page</title>

        <!--View Css-->
        <link href="~/css/admin/admin-common.css" rel="stylesheet" />

        <!--Modal css-->
        <link href="~/plugins/custombox/css/custombox.min.css" rel="stylesheet">

        <!--google icon source-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

        <style>
            .info-content {
                margin-right: -158px;
                margin-bottom: 20px;
            }

            .info-content::after {
                margin-right: -158px;
                margin-bottom: 20px;
            }
        </style>
    </head>

    <body>
        <div class="page-title-box">
            <h4 class="page-title">All Student</h4>
            <ol class="breadcrumb p-0 m-0">
                <li>
                    <a href="#">Attendance Management System</a>
                </li>
                <li class="active">
                    ~
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>


        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="mdi mdi-emoticon"></i>
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="mdi mdi-emoticon-sad"></i>
                @TempData["ErrorMessage"]
            </div>
        }

        <!--search Student-->
        <div class="in-a-row m-b-10">
            <div class="search-container">
                <i class="mdi mdi-magnify search-icon" id="search-icon-div"></i>
                <input type="text" id="search-student-input" class="form-control search-input m-b-0" placeholder="Search by Student Name or Student ID" onkeyup="searchTable()">
                <span id="clear-search-input" class="clear-search clear-search-icon" onclick="clearSearch()"><i class="mdi mdi-close"></i></span>
            </div>

            @* <button href="#custom-modal-add-lecturer" class="btn btn-inverse waves-effect waves-light m-t-5 in-a-row" style="gap: 10px;" data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">
                <i class="mdi mdi-plus"></i>
                Add Lecturer
            </button> *@
        </div>

        <!--Student table-->
        <table class="table table-colored table-inverse table-bordered m-b-0" id="student-table">
            <thead>
                <tr>
                    <th class="text-center"  style="vertical-align: middle;">#</th>
                    <th class="text-center sortable" data-sort-column="1" style="vertical-align: middle;" title="Click to sort the column">
                        <i class="mdi mdi-sort"></i>
                        Student ID
                    </th>
                    <th class="text-center sortable" data-sort-column="2" style="vertical-align: middle;" title="Click to sort the column">
                        <i class="mdi mdi-sort"></i>
                        Name
                    </th>
                    <th class="text-center" style="vertical-align: middle;">Enrolled Class Number</th>
                    @* <th class="text-center">Binded Device(s) Number</th> *@
                    <th class="text-center" style="vertical-align: middle;">Device Type</th>
                    <th class="text-center" style="vertical-align: middle;">Bind Date</th>
                    <th class="text-center" style="vertical-align: middle;">Device Code</th>
                    @* <th class="text-center">Device Type</th>
                    <th class="text-center">Device O/S</th>
                    <th class="text-center">Browser Used</th> *@
                    <th class="text-center" style="vertical-align: middle;">
                        <div class="in-a-row" style="justify-content: center; gap: 10px;" >
                            Actions
                            <div class="info">
                                <i class="mdi mdi-information-outline" style="font-size: 18px;"></i>
                                <div class="info-content">
                                    <p>Edit: Edit the student ID. Student need re-login with new student ID</p>
                                    <p>Remove Device: Unbind the device from the student ID. Student need at least one device to take attendance.</p>
                                    <p>Delete: Delete the student account and all related record</p>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="student-table-tbody">
                @foreach (var student in Model.StudentList) 
                {
                    <tr id="row-student-@student.StudentID" data-original-index="@counter">
                        <td class="text-center" style="vertical-align: middle;">@counter</td>

                        <!--Edit student form-->
                         <form asp-controller="Admin" asp-action="EditStudent" id="edit-student-form-@student.StudentID" method="post" style="width: 100%;">
                            <td style="vertical-align: middle;">
                                <span class="student-id">@student.StudentID</span>

                                <input type="text" class="student-id-input form-control" value="@student.StudentID" name="newStudentId" data-original-value="@student.StudentID" style="display:none; width: 100%;" />
                                <input type="hidden" name="oldStudentId" value="@student.StudentID" />
                                <div id="student-id-empty" class="text-danger prompt-text" style="display: none;"><i class=" mdi mdi-alert-circle-outline"></i> The Student ID cannot be empty.</div>
                                <div id="student-id-error" class="text-danger prompt-text" style="display: none;"><i class=" mdi mdi-alert-circle-outline"></i> Student ID format should be ABC12345678.</div>
                                <div id="student-id-existed" class="text-danger prompt-text" style="display: none;"><i class="mdi mdi-alert-circle-outline"></i>The Student ID is existed already. You cannot use same Student ID.</div>
                            </td>
                        </form>

                        <td style="vertical-align: middle;">
                            <span class="student-name">@student.Name</span>
                        </td>

                        <td class="click-to-display" style="vertical-align: middle;" title="Click to expand details table" onclick="toggleClassDetails('@student.StudentID', this)">
                            @{
                                int classCount = Model.EnrolledClasses.ContainsKey(student.StudentID) ? Model.EnrolledClasses[student.StudentID].Count : 0;
                            }
                            <div class="student-device-count text-center expandable">
                                <i class="mdi mdi-chevron-down" style="font-size: 14px;"></i>
                                @classCount
                            </div>
                        </td> 

                        @if (Model.BindingDevices.ContainsKey(student.StudentID))
                        {
                            var device = Model.BindingDevices[student.StudentID];
                            if (device.EncodeDeviceCodeWithoutUUID == "default-device-code") {
                                <td colspan="3" class="text-center no-device-row" style="vertical-align: middle;">No device available for this student.</td>
                            }
                            else 
                            {
                                <td class="text-center" style="vertical-align: middle;">
                                    <span class="device-type">@device.DeviceType</span>
                                    <span class="device-id-@student.StudentID" hidden>@device.DeviceId</span>
                                </td>
                                <td class="text-center" style="vertical-align: middle;">
                                    <span class="sdevice-bind-date">@device.BindDate.ToShortDateString()</span>
                                </td>
                                <td style="vertical-align: middle;">
                                    <span class="device-code">@device.EncodeDeviceCodeWithoutUUID</span>
                                </td>
                            }
                        }
                        else {
                            <td colspan="3" class="text-center no-device-row" style="vertical-align: middle;">No device available for this student.</td>
                        }

                        @* <td class="click-to-display" style="vertical-align: middle;" title="Click to expand details table" onclick="toggleDeviceDetails('@student.StudentID', this)">
                            @{
                                int deviceCount = Model.BindingDevices.ContainsKey(student.StudentID) ? Model.BindingDevices[student.StudentID].Count : 0;
                            }
                            <div class="student-device-count text-center expandable">
                                <i class="mdi mdi-chevron-down" style="font-size: 14px;"></i>
                                @deviceCount
                            </div>
                        </td> *@
                        

                        <td class="text-center" style="vertical-align: middle;">
                            <div class="in-a-row" style="justify-content: center; gap: 20px;">
                                <button class="edit-btn btn btn-inverse waves-effect waves-light in-a-row" style="gap: 5px;" onclick="editRow('@student.StudentID')">
                                    <i class="material-symbols-outlined" style="font-size: 14px;">edit_square</i>
                                    Edit
                                </button>
                                <button class="remove-device-btn btn btn-inverse waves-effect waves-light in-a-row" style="gap: 5px;" onclick="confirmRemove('@student.StudentID')">
                                    <i class="material-symbols-outlined" style="font-size: 14px;">phonelink_erase</i>
                                    Remove Device
                                </button>
                                <button class="delete-btn btn btn-danger waves-effect waves-light in-a-row" style="gap: 5px;" onclick="confirmDelete('@student.StudentID')">
                                    <i class="material-symbols-outlined" style="font-size: 14px;">delete</i>
                                    Delete
                                </button>

                                <!--Edit Mode buttons-->
                                <button type="submit" class="save-btn btn btn-inverse waves-effect waves-light in-a-row" style="display:none; gap: 5px; vertical-align: middle;" onclick="saveRow('@student.StudentID')" >
                                    <i class="material-symbols-outlined" style="font-size: 14px;">save</i>
                                    Save
                                </button>
                                <button class="cancel-btn btn waves-effect waves-light in-a-row" style="display: none; background-color: #eee; gap: 5px;" onclick="cancelEdit('@student.StudentID')">
                                    <i class="material-symbols-outlined" style="font-size: 14px;">cancel</i>
                                    Cancel
                                </button>
                            </div>
                           
                            <div id="form-data-no-change-error" class="text-danger prompt-text" style="display: none;"><i class="mdi mdi-alert-circle-outline"></i> You do not make any change.</div>
                        </td>
                    </tr>
                    
                    <tr id="class-details-row-@student.StudentID" class="class-details-row" style="display: none; border: 2px solid #d1d1d1; ">
                        <td colspan="8" style="padding: 0px; ">
                            <div class="class-details-content">
                                <table class="table table-colored table-gray table-striped table-bordered m-b-0" id="class-details-table" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th colspan="5">Enrolled Classses Table</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Programme</th>
                                            <th class="text-center">Course Code</th>
                                            <th class="text-center">Class Name</th>
                                            <th class="text-center">Session</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.EnrolledClasses.ContainsKey(student.StudentID))
                                        {
                                            classCounter = 1;
                                            var classList = Model.EnrolledClasses[student.StudentID];
                                            foreach (var classitem in classList)
                                            {
                                                <tr>
                                                    <td class="text-center">@classCounter</td>
                                                    <td>@classitem.Programme</td>
                                                    <td class="text-center">@classitem.CourseCode</td>
                                                    <td>@classitem.ClassName</td>
                                                    <td>@classitem.ClassSession</td>
                                                </tr>
                                                classCounter++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7" class="text-center">No classes available for this student.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>

                    @* <tr id="device-details-row-@student.StudentID" class="device-details-row" style="display: none; border: 2px solid #d1d1d1;">
                        <td colspan="6" style="padding: 0px;">
                            <div class="device-details-content">
                                <table class="table table-colored table-gray table-striped table-bordered m-b-0" id="device-details-table" style="width: 100%;">
                                    <thead style="overflow: visible;">
                                        <tr>
                                            <th colspan="4">Binded Devices Table</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Device Type</th>
                                            <th class="text-center">Device O/S</th>
                                            <th class="text-center">
                                                <div class="in-a-row" style="justify-content: center; gap: 10px;" >
                                                    Actions
                                                    <div class="info">
                                                        <i class="mdi mdi-information-outline" style="font-size: 18px;"></i>
                                                        <div class="info-content info-content-nested">
                                                            <p>Remove: Unbind the device to this student id.</p>
                                                            <p>Note: Student need at least one binded device to take attendance.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.BindingDevices.ContainsKey(student.StudentID))
                                        {
                                            deviceCounter = 1;
                                            var deviceList = Model.BindingDevices[student.StudentID];
                                            foreach (var device in deviceList)
                                            {
                                                <tr>
                                                    <td class="text-center"  style="vertical-align: middle;">
                                                        @deviceCounter
                                                    </td>
                                                    <td  style="vertical-align: middle;">
                                                        @device.DeviceType
                                                    </td>
                                                    <td style="vertical-align: middle;">
                                                        @device.DeviceOS
                                                    </td>
                                                    <td class="in-a-row" style="justify-content: center;">
                                                        <button class="cancel-btn btn btn-inverse waves-effect waves-light in-a-row" style="gap: 5px;" onclick="confirmRemove('@student.StudentID', '@device.DeviceId')">
                                                            <i class="material-symbols-outlined" style="font-size: 14px;">phonelink_erase</i>
                                                            Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                deviceCounter++;
                                            }
                                        }
                                        @if (deviceCounter == 1)
                                        {
                                            <tr>
                                                <td colspan="4" class="text-center">No device available for this student.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr> *@
                    counter++;
                }
            </tbody>
        </table>

        <div id="no-found-row" class="search-no-found p-b-10 p-t-10">
            <div class="text-danger text-center" >
                <i class="mdi mdi-alert-outline"></i>
                <b>
                    No found.
                </b>
            </div>
        </div>

        <!--Delete Student form -->
        <form id="delete-student-form" asp-controller="Admin" asp-action="DeleteStudent" method="post" style="display:none;">
            <input type="hidden" name="deleteStudentId" id="delete-student-id" />
        </form>

        <!--Remove Device form -->
        <form id="remove-device-form" asp-controller="Admin" asp-action="RemoveDevice" method="post" style="display:none;">
            <input type="hidden" name="removeDeviceId" id="remove-device-id" />
            <input type="hidden" name="relatedStudentId" id="related-student-id" />
        </form>

        @section scripts {
            <!--View js-->
            <script src="~/js/Admin/StudentPage.js"></script>

            <!--jQuery-->
            <script src="~/assets/js/detect.js"></script>
            <script src="~/assets/js/waves.js"></script>
            <script src="~/assets/js/jquery.slimscroll.js"></script>

            <!--Modal js-->
            <script src="~/assets/js/custombox.min.js"></script>
            <script src="~/assets/js/legacy.min.js"></script>

            <!--App js-->
            <script src="~/assets/js/jquery.core.js"></script>
            <script src="~/assets/js/jquery.app.js"></script>
        }

        
    </body>
</html>


